
<div *ngIf="!!assetInfo" class="asset-card">
  <div class="w-100">
    <span class="vm-image float-right">
      <img src="https://static.vecteezy.com/system/resources/previews/000/422/764/original/monitor-icon-vector-illustration.jpg"
      width="120" height="120">
    </span>
    <div class="attr-info main-info" >
      <span class="asset-name">{{ assetInfo?.name }} </span>
      <div class="attr-info" class="status-info flex">
        <div *ngIf="!!assetInfo?.status" [class]=" 'status-icon ' + assetInfo?.status "></div>
        {{assetInfo?.status}}
      </div>
    </div>
  
    <!-- RAM is {{assetInfo?.ram | ram}} -->
    <!-- Ownwer is {{ assetInfo?.owner | user_from_email}} -->
  </div>
  <labeled-view class="attr-info" icon="fa fa-plane" [label] = "'CPUs'" [value]="assetInfo?.cpu"></labeled-view> 
  <labeled-view class="attr-info" icon="fa fa-plane" [label] = "'Memory'" [value]="ramInMb"></labeled-view>
  <labeled-view class="attr-info" icon="fa fa-plane" [label] = "'Datacenter'" [value]="assetInfo?.location"></labeled-view> 
  <labeled-view class="attr-info" icon="fa fa-plane" [label] = "'Owner'" [value]="owner"></labeled-view> 

  <!-- <pre>{{ assetInfo | json}}</pre> -->


</div>