
<div *ngIf="!!assetInfo" class="asset-card" [ngClass]="{'fullscreen': fullscreen}" (click)="goToDetailsPage(assetInfo.id)">
  <div class="w-100">
    <span class="vm-image" [ngClass]="{'float-right': !fullscreen}">
      <img src="https://static.vecteezy.com/system/resources/previews/000/422/764/original/monitor-icon-vector-illustration.jpg"
      width="120" height="120">
    </span>
    <div class="attr-info main-info" >
      <span class="asset-name">{{ assetInfo.name }} </span>
      <div class="attr-info" class="status-info flex">
        <div *ngIf="!!assetInfo.status" [class]=" 'status-icon ' + assetInfo.status "></div>
        {{assetInfo.status}}
      </div>
      <div class="flex">
        <div class="tag" *ngFor="let tag of assetInfo.tags">
          <span >{{tag}}</span>
        </div>
      </div>    
    </div>
  </div>
  <labeled-view class="attr-info" icon="fa fa-microchip" [label] = "'CPUs'" [value]="assetInfo.cpu"></labeled-view> 
  <labeled-view class="attr-info" icon="fa fa-memory" [label] = "'Memory'" [value]="ramInGb"></labeled-view>
  <labeled-view class="attr-info" icon="fa fa-database" [label] = "'Datacenter'" [value]="assetInfo.location"></labeled-view> 
  <labeled-view class="attr-info" icon="fa fa-user" [label] = "'Owner'" [value]="owner"></labeled-view> 
</div>