.asset-card {
    border: 1px solid #242424;
    height: 260px;
    width: 240px;
    padding: 0.5rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    /* border-radius: 4px; */
    cursor: pointer;
    box-shadow: 0 0 0 1px rgb(6 24 44 / 40%), 0 2px 3px -1px rgb(6 24 44 / 65%), inset 0 1px 0 hsl(0deg 0% 100% / 8%);
}
.asset-card:hover {
    transform: scale(1.015);
    opacity: 0.9;
}


.fullscreen { 
    cursor: initial;
    height: inherit;
    width: inherit;
    padding: 0;
    margin: 0;
    border:0;
    box-shadow: none;
}
.fullscreen:hover { 
    transform: none;
    opacity: 1;
}
.fullscreen .attr-info { 
    width: 100%;
    max-width: 50%;
    display: inline;
    margin: 10px;
    /* padding-left: 0; */
    margin-left:0px;
}

.fullscreen .vm-image {
    float: left;
}
.attr-info {
    /* display: flex; */
    gap: 4px;
    width: 47%;
    min-width: 47%;
    /* justify-content: space-evenly; */
}

.main-info {
    margin-top: 1.2rem;
}
.asset-name { 
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.status-info {
    font-size: 12.5px;
}
.status-icon {
    width: 8px;
    height: 8px;
    background-color: silver;
    margin-top: 4px;
    border-radius: 50%;
}
.status-icon.Running {background: green;}
.status-icon.Stopped {background: crimson;}
.status-icon.MigrationFailed {background: darkgoldenrod;}
