.asset-details-all .attr-info {
    margin: 10px;
}

.linked-server > labeled-view, .linked-server > .attr-info > .attr-value {
    color: royalblue;
}

.details-loader .details-row-top {
    width: 300px;
    height: 110px;
    margin: 10px 0px;
}

.details-loader .details-row {
    display: block;
    width: 300px;
    height: 40px;
    margin: 18px 0px;
}

.details-row:nth-child(2), 
.details-row:nth-child(3), 
.details-row:nth-child(4)
{
    width: 180px !important;
}


