<a class="float-right" routerLink="/dashboard"> <i class="fa fa-arrow-left"></i> back to dashboard</a>

<div *ngIf="!notFound && !assetInfo" class="details-loader">
  <animated-div class="details-row-top block"></animated-div>
  <animated-div class="details-row"></animated-div>
  <animated-div class="details-row"></animated-div>
  <animated-div class="details-row"></animated-div>
  <animated-div class="details-row"></animated-div>
  <animated-div class="details-row"></animated-div>
</div>


<div *ngIf="!!assetInfo" class="asset-details-all">
    <app-asset-card id="not-card" [fullscreen]="true" [info]="assetInfo"></app-asset-card>
    <span class="cursor-pointer  linked-server" *ngIf="!!parentAsset" (click)="goToDetailsPage(parentAsset.id)">
        <labeled-view class="attr-info" icon="fa fa-desktop" [label] = "'Parent Asset'" [value]="parentAsset.name"></labeled-view> 
    </span>

    <span class="cursor-pointer  linked-server" *ngIf="!!childAsset"  (click)="goToDetailsPage(childAsset.id)">
        <labeled-view class="attr-info" icon="fa fa-desktop" [label] = "'Child Asset'" [value]="childAsset.name"></labeled-view> 
    </span>

    <labeled-view *ngIf="!!assetInfo.createdBy" class="attr-info" icon="fa fa-user" [label] = "'Created By'" [value]="assetInfo.createdBy"></labeled-view> 
    <labeled-view class="attr-info" icon="fa fa-clock" [label] = "'Creation Time'" [value]="assetInfo.createdAt"></labeled-view> 

  </div>

  
  <div *ngIf="notFound">The server details could not be found .. </div>