<div class="dashboard-stats flex w-100">
  <div class="asset-stat">
    <div class="label">Assets Deployed</div>
    <div class="value"> {{totalAssets}}</div>
  </div>
  <div class="asset-stat">
    <div class="label">CPU Usage</div>
    <div class="value"> {{totalCPU}}</div>
  </div>
  <div class="asset-stat">
    <div class="label">Memory Usage</div>
    <div class="value"> {{totalMemory | ram}}</div>
  </div>
  <div class="asset-stat">
    <div class="label">Assets Running</div>
    <div class="value"> {{up}}</div>
  </div>
  <div class="asset-stat">
    <div class="label">CPUs Usage</div>
    <div class="value"> {{totalCPU}}</div>
  </div>
</div>