.dashboard-assets {
  display: flex;
  flex-wrap: wrap;
}
.search-label {
  font-size: 1.2rem;
}
.searchbox {
  padding: 10px;
  margin-bottom: 5px;
  font-size: 1.2 rem;
  width: 50%;

}
button {
  padding:10px;
  background:royalblue;
  color: white;
  margin-right: 5px;
  cursor: pointer;
}

.search-results-msg button {
  border: none;
  text-decoration: underline;
  background-color: inherit;
  color: initial;
}

.dashboard-loader {
  height: 5px;
  max-width:80%;
  margin-left: 10px;
}

.loader-card {
  width: 250px;
  height: 278px;
}

.card-loader .animated-card {
  display: block;
  width: 100px;
  height: 60px;
  margin: 5px ;
}