/* You can add global styles to this file, and also import other style files */

html, body {
    padding: 0;
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    width: 100vw;
    font-size: 1.2rem;
    padding: 0.7rem 2rem;
    background-color: royalblue;
    color: white;
    z-index: 99999;
}

.contents {
    margin-top: 3.2rem;
    padding: 1rem 2rem;
}

.tag {
    border: 1px solid gray;
    background: ghostwhite;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
}

.flex {display: flex; flex-wrap: wrap; gap: 4px;}
.float-right {float: right}

.w-100 {width: 100%}
.w-70 { width: 70%;}

.cursor-pointer {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}
/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
} */



/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #04aa6d;
}

.active {
    background-color: #333;
} */